# See "read_csvs_tSNE_DBSCAN_save_output" for an example using real data

Import relevant tools and set-up workspace

In [18]:
import fcsparser as fcs
import pandas
import numpy

%matplotlib notebook
import matplotlib
import matplotlib.pyplot as plt

Read in the data

In [19]:
path = '/Users/tswenson/Documents/Joels/Health_Data_Science/COMPANY_consulting_project/datasets/training_set/screen_357_cell_plate_1_well_C3_original.fcs'
meta, df = fcs.parse(path, reformat_meta=True)

In [3]:
print(type(df))
print(type(meta))

<class 'pandas.core.frame.DataFrame'>
<class 'collections.OrderedDict'>

In [4]:
df.head()

,FSC-H,SSC-H,BL1-H,BL2-H,BL3-H,BL4-H,BL5-H,RL1-H,RL2-H,VL1-H,...,RL1-A,RL2-A,VL1-A,VL2-A,VL3-A,VL4-A,VL5-A,VL6-A,Width,Time
0,8461803,16756139,3406,3241,5111,3970,12753,5064,16662,4499,...,254147,2007289,0,183895,0,0,139455,1050445,5415,7744
1,65242,1266425,488,96,681,1501,2046,1237,2335,157,...,0,0,236,0,0,0,0,0,26,7744
2,337209,1223704,0,83,0,939,2372,603,3364,53,...,0,4512,361,1684,1084,0,0,0,40,7744
3,1007446,1181087,0,603,1307,300,3877,630,1516,105,...,0,0,139,0,0,0,0,0,45,7744
4,5306675,1140815,803,1753,2403,2362,2878,2262,3477,1276,...,0,0,4148,6573,2304,0,0,0,228,7744

In [5]:
df.describe()

,FSC-H,SSC-H,BL1-H,BL2-H,BL3-H,BL4-H,BL5-H,RL1-H,RL2-H,VL1-H,...,RL1-A,RL2-A,VL1-A,VL2-A,VL3-A,VL4-A,VL5-A,VL6-A,Width,Time
count,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,31047.000000,31047.000000,3.104700e+04,31047.000000,3.104700e+04,...,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,3.104700e+04,31047.000000,31047.000000
mean,1.074041e+06,5.059691e+05,3.718709e+04,2.667560e+04,1.873240e+04,7225.893387,6700.608304,1.090980e+04,5616.098109,1.120639e+05,...,1.893479e+04,7.383493e+03,1.847924e+05,1.119890e+06,2.171026e+05,1.589093e+05,5.336994e+04,1.631278e+04,54.418011,8261.392695
std,8.437501e+05,5.472144e+05,9.113687e+04,6.250322e+04,4.412330e+04,19208.085958,10038.277251,1.055754e+05,14286.486919,3.106569e+05,...,2.075335e+05,8.815005e+04,5.191394e+05,2.893125e+06,5.736400e+05,4.224689e+05,1.429037e+05,1.425718e+05,148.488784,540.826470
min,5.000200e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000,7744.000000
25%,2.083305e+05,1.498500e+05,8.275500e+03,3.674000e+03,3.791000e+03,2690.000000,2430.000000,4.326000e+03,3519.000000,2.785000e+03,...,1.415000e+02,0.000000e+00,4.609000e+03,4.360550e+04,9.339000e+03,7.703000e+03,2.498000e+03,1.039500e+03,40.000000,7853.000000
50%,1.139843e+06,4.091700e+05,1.830100e+04,7.785000e+03,6.196000e+03,4200.000000,3930.000000,6.442000e+03,4966.000000,5.668000e+03,...,7.297000e+03,3.631000e+03,1.064900e+04,1.027500e+05,2.516300e+04,2.166400e+04,1.030600e+04,8.195000e+03,52.000000,8002.000000
75%,1.750635e+06,7.122485e+05,5.019700e+04,1.526950e+04,1.063350e+04,6426.500000,6683.000000,9.719000e+03,6623.000000,1.638550e+04,...,1.833250e+04,9.220000e+03,2.957900e+04,2.671210e+05,8.021750e+04,6.428400e+04,2.461250e+04,1.907400e+04,60.000000,8568.000000
max,1.048437e+07,1.677722e+07,4.534528e+06,1.378156e+06,1.238454e+06,973305.000000,136938.000000,5.940396e+06,777657.000000,3.510322e+06,...,1.677722e+07,1.313333e+07,1.143401e+07,1.677722e+07,1.677722e+07,1.677722e+07,9.478258e+06,1.677722e+07,17328.000000,9679.000000

Look for missing values

In [6]:
empty = df.apply(lambda col: pandas.isnull(col)) # See pandas.notnull for the opposite
empty.sum()

FSC-H    0
SSC-H    0
BL1-H    0
BL2-H    0
BL3-H    0
BL4-H    0
BL5-H    0
RL1-H    0
RL2-H    0
VL1-H    0
VL2-H    0
VL3-H    0
VL4-H    0
VL5-H    0
VL6-H    0
FSC-A    0
SSC-A    0
BL1-A    0
BL2-A    0
BL3-A    0
BL4-A    0
BL5-A    0
RL1-A    0
RL2-A    0
VL1-A    0
VL2-A    0
VL3-A    0
VL4-A    0
VL5-A    0
VL6-A    0
Width    0
Time     0
dtype: int64

# Write the data to a csv file

In [7]:
df.to_csv("/Users/tswenson/Documents/Joels/Health_Data_Science/COMPANY_consulting_project/datasets/training_set/screen_357_cell_plate_1_well_C3_original.JMS.csv")

# Export a subset of the data

In [8]:
from fcsparser.api import FCSParser

In [9]:
fcs_file = FCSParser(path)

In [10]:
subset_fcs_file = fcs_file.clone(data=fcs_file.data[:1000])

In [11]:
type(fcs_file)

fcsparser.api.FCSParser

In [12]:
type(subset_fcs_file)

fcsparser.api.FCSParser

Below is from michael's code

In [17]:
type(data)

NameError: name 'data' is not defined

In [20]:
# export results from Michael...not run by JMS, but annotated by me
for label in result['cluster_label'].unique(): # iterates through all the unique labels in the pandas series (column) of the dataframe "result"
    fcs_file = FCSParser(path) # load the fcs file that you want to subset into different labels
    cluster_data = data[result['cluster_label']==label] # data is from: meta, data = fcs.parse(path)???
    # the above step subsets the original data based on the label from "result"
    new_fcs_file = fcs_file.clone(data=cluster_data.as_matrix()) # export the subsetted data
    new_fcs_file.annotation['cluster_label'] = label # annotates the fcs file (meta data?) with the label
    new_fcs_file.write_to_file('cluster ' + str(label) + ' exported ' + \
                datetime.datetime.now().strftime('%Y.%m.%d %I.%M.%S') + \
                '.fcs') # writes the fcs file to disk?

NameError: name 'result' is not defined